/* common styles  */
* {
    margin: 0;
    padding: 0;

}

/* banner section  */
.banner-section {
    text-align: center;
    position: relative;

}

.banner-section .bannerimg {
    width: 83%;
    height: auto;
    text-align: center;
    margin: 50px 140px 0px;
    border-radius: 16px;
    background: linear-gradient(to bottom, black);


}


.banner-section .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFF;
    font-size: 50px;
    transform: translate(-50%, -50%);

}

.banner-section .banner-text h6 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-section .banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.section-off {
    padding: 50px 350px 0px;
}

.section-off .off {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.section-off .off-des {
    padding: 10px 412px;
    color: #F00;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.section-off .off-des2 {
    color: #070211;
    text-align: center;
    font-size: 43px;
    font-weight: 700;
    padding: 0px 200px 40px;
}

.section-off .sec-new {
    text-align: center;
    padding: 0px 200px 20px;


}

/* party */
.party {
    margin-top: 100px;
    margin-bottom: 120px;
    position: relative;
}

.pbg .pbgimg {
    width: 83%;
    height: 700px;
    text-align: center;
    margin: 50px 140px 0px;
    border-radius: 16px;




}

.party-content {
    width: 591px;
    position: absolute;
    top: 50%;
    left: 40%;
    color: #FFF;
    font-size: 50px;
    transform: translate(-50%, -50%);


}

.party-heading {
    width: 591px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-bottom: 24px;
}

.party-des {

    width: 683px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    margin-left: 40px;
    border: none;
    background: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.schedule-container {
    margin: 120px 140px 120px;
    width: 83%;
    height: 600px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    border-radius: 13px ;
}

.schedule-container>.schedule-text {
    padding: 120px 518px 159px ;
    color: black;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}
 .btn-place {
    margin: 30px auto 0px;
    padding: 16px 32px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}